*{
	margin: 0px;
	padding: 0px;
}

body{
}

p{
    font-family: Roboto;
    text-align: center;
}


h1{
	font-family:Lora;
	font-weight: 700i;
	font-size:2rem;
	text-align: center;
}

table, th, td, data {
    border: none;
    width: 50%;
    padding: 0 rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    text-align: left;
}

th {
    font-family: Lora;
}

a:link {
color: orange;
text-decoration: none;
}


a:visited {
color: rgb(49, 218, 175);
text-decoration: none;
}

/* mouse over link */
a:hover {
color: #769b3f;
text-decoration: none;
}

.gallery-container{
    width: 70%;
    height: 250px;
    margin: auto;
    margin-bottom: 0rem;  
    overflow: hidden;
    }
    
.gallery-image{
    object-fit: cover;
}

.wrapper{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.block{
    margin: 0%;
    margin-top: 1%;
    padding: 2%;         
    overflow: hidden;
    text-align: middle;
}

.onethird{
    width:30.6%;
}

.twothirds{
    width: 66.8%;
}

.half{
    width: 45.5%;
}

.quarter{
    width: 20.25%;
}

.threequarter{
    width: 70.75%;
}

.margin_right{
    margin-right: 1%; 
}

.middle{
    margin-right: 1%;
    margin-left: 1%;
}

.righttspace{
margin-right: 0%;
/* 1.6 */
}

.lastrowmargin{
margin-bottom: 1%;
width: 50%;
margin: auto;
margin-bottom: 0rem;  
overflow: hidden;
object-fit: contain;
}

.block{
background-color: rgb(76, 122, 161);
width: 44%; 
margin: auto;
margin-top: 0mm;
padding: 3%;
overflow: hidden;
}

.footnote{
    padding-top: 1em;
    padding-bottom: 1em;
}

.color1{
    background-color: rgb(76, 122, 161);
    color: rgb(34, 34, 34);
}

.color2{
    background-color: #da7e79;
    color: rgb(34, 34, 34);
}

.color3{
    background-color: rgb(247, 86, 124)
    color: rgb(58, 58, 58);
}


.color4{
    background-color:#1F3B54;
    color: white;
}

#birthdayblock {
    padding-bottom: 1em;
    padding-top: 1em;
}
