<!doctype html>
<title>Hello from Flask</title>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lora:400i,700i|Roboto:300,400,700,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


  <div class="gallery-container">
    <!-- in deze div verschijnt de afbeelding geladen door het js script -->
  </div>
  <!-- Alle info van het dashboard komen in een wrapper -->
  <!-- Iedere wrapper kan inhoud displayen over de gehele rij (zie footnote) -->
  <!-- Of in iedere wrapper kunnen meerdere blocks geplaats worden -->
  <!-- In de class van de blocks kan je zien hoe groot die wordt -->
  <!-- d.m.v. MArgin_right en middle kan je bepalen dat er of rechts of aan beide kanten afstand wordt gehouden  -->
  <div class="wrapper">
    <div class="block onethird color1" id="birthdayblock">
      <h1>Vandaag is jarig!</h1>
      <p>{{ birthdays }}</p>
      <br>
      <br>
    </div>
    <div class="block onethird middle color2">
      <h1>Klusjes lijst:</h1>
      <p><i>Klusjes waaraan we meteen kunnen beginnen</i></p>
      <p>{{ jobs }}</p>
      <br>
      <p><i>Klusjes waarvoor we nog eventjes door moeten sparen</i></p>
      <p>{{ dreamjobs }}</p>
    </div>
    <div class="block onethird color4">
      <h1>uitnodigingslijst:</h1>
      <p><i>Mensen waarmee we contact mee moeten opnemen:</i></p>
      <p>{{ guests }}</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="block twothirds margin_right color1">
      <p>center this</p>
    </div>
    <div class="block onethird color3">
      <p>hallo</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="block half margin_right color1">
      <p>twee is beter</p>
    </div>
    <div class="block half color4">
      <p>dan 1</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="block quarter color2">
      <p>een </p>
    </div>
    <div class="block quarter middle color3">
      <p>twee</p>
    </div>
    <div class="block quarter margin_right color2">
      <p>drie</p>
    </div>
    <div class="block quarter color4">
      <p>4</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="block threequarter margin_right lastrowmargin color2">
      <p>driekwarts maat</p>
    </div>
    <div class="block quarter color4 lastrowmargin">
      <p>wals</p>
    </div>
  </div>
  <div class="wrapper footnote color3">
=======
  <div class="block color1" id="birthdayblock">
    <h1>Vandaag is jarig!</h1>
    <br>
    <p> {% for table in table_bday %}
      {{ table|safe }}
      {% endfor %}
    </p>
    <br>
    <br>
  </div>
  <div class="block color2">
    <h1>Klusjes lijst:</h1>
    <p><i>Klusjes waaraan we meteen kunnen beginnen</i></p>
    {% for table in table_jobs %}
    {{ table|safe }}
    {% endfor %}
    <br>
    <p><i>Klusjes waarvoor we nog eventjes door moeten sparen</i></p>
    {% for table in table_drjobs %}
    {{ table|safe }}
    {% endfor %}
  </div>
  <div class="block color4">
    <h1>uitnodigingslijst:</h1>
    <p><i>Mensen waarmee we contact mee moeten opnemen:</i></p>
    {% for table in table_guests %}
    {{ table|safe }}
    {% endfor %}
  </div>
  <div class="block footnote color3">
    <p>@Thomas en Trudie 2020</p>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>