<!doctype html>
<title>Hello from Flask</title>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lora:400i,700i|Roboto:300,400,700,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


  <div class="gallery-container">
  </div>
  <div class="block color1" id="birthdayblock">
    <h1>Vandaag is jarig!</h1>
    <br>
    <p> {% for table in table_bday %}
      {{ table|safe }}
      {% endfor %}
    </p>
    <br>
    <br>
  </div>
  <div class="block color2">
    <h1>Klusjes lijst:</h1>
    <p><i>Klusjes waaraan we meteen kunnen beginnen</i></p>
    {% for table in table_jobs %}
    {{ table|safe }}
    {% endfor %}
    <br>
    <p><i>Klusjes waarvoor we nog eventjes door moeten sparen</i></p>
    {% for table in table_drjobs %}
    {{ table|safe }}
    {% endfor %}
  </div>
  <div class="block color4">
    <h1>uitnodigingslijst:</h1>
    <p><i>Mensen waarmee we contact mee moeten opnemen:</i></p>
    {% for table in table_guests %}
    {{ table|safe }}
    {% endfor %}
  </div>
  <div class="block footnote color3">
    <p>@Thomas en Trudie 2020</p>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>